<tr onclick="if(!event.defaultPrevented) {location.href = '/musics/playlists/<%= playlist.id %>';}">
	<td><%= playlist.name %></td>
	<td><%= playlist.owner.name %></td>
	<td>
		<div class="dropdown">
			<button class="btn btn-min dropdown-toggle" data-bs-toggle="dropdown" type="button" onclick="event.preventDefault();">
				<span class="material-icons">more_horiz</span>
			</button>
			<ul class="dropdown-menu dropdown-transparent" role="menu">
				<li><a class="dropdown-item dropdown-item-transparent" href="/musics/playlists/<%= playlist.id %>">View</a></li>
				<% if (user.id == playlist.owner.id) { %>
					<li><a class="dropdown-item  dropdown-item-transparent" href="/musics/playlists/<%= playlist.id %>/edit">Edit</a></li>
					<div class="dropdown-divider transparent"></div>
					<li class="dropdown-item dropdown-item-transparent">
						<%- include('./deleteForm.ejs', {url: `/musics/playlists/${playlist.id}`}) %>
					</li>
				<% } %>
			</ul>
		</div>
	</td>
</tr>