<%- include('../../partials/header.ejs') %>
<h2><%= playlist.name %></h2>
<p><%= playlist.description %></p>
<a href="/musics/playlists/<%= playlist.id%>/edit">Edit</a>
<%- include('../../partials/deleteForm', {url: `/musics/playlists/${playlist.id}`}) %>

<br>
<h2>Songs</h2>
<% songs.forEach(song => { %>
	<%- include('../../partials/song.ejs', {song: song, playlists: playlists}) %>
<% }) %>

<%- include('../../partials/controlsOverlay.ejs') %>

<script>
	songs = <%- JSON.stringify(songs) %>;
</script>